@model IEnumerable<ECMSD.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customerid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shippingdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orderstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalamount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customerid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shippingdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orderstatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalamount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Orderid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Orderid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Orderid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
